---
independent: true
greedy: false
---

:ruby
  src ||= nil
  id ||= nil
  label ||= ""

- if src.nil? and label.nil?
  .als-error Audio player requires a src and label
- else
  .audio-player{:id => ( id ? "#{id}" : nil ) }
    .player
      .controls
        %a.toggle.entypo.play{href: "#"}
        .statusbar
          .loading
          .position
      .timing
        #sm2_timing.timing-data
          %span.pos -:--
          &nbsp;&#47;&nbsp;
          %span.total -:--

    %ul.playlist
      %li
        #{label}
        %a.sm2_link{:href => "#{src}", :style => "display:none"}

