---
greedy: false
---

- if content_item.is_a? StoreItem
  .sidebar
    .meta
      %span.cost(tc-cost
        cost="#{content_item.cost}"
        discounted="#{content_item.discounted}"
        store-item-type=" '#{store_item_class(content_item)}' ")

    - if content_item.info.present?
      .material.unavailable= raw content_item.info
