/*

 */

/* apply a natural box layout model to all elements */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  height: 100%;
}
html, body, p {
  margin: 0;
  border: 0;
}

#content-display {
  opacity: 0;
}
#markdown-source {
  display: none;
}
