@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\0000357}}
.alongslide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\0000362}}
#frames {
  height: 100%;
  background-color: white;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\0000371}}
#frames .frame {
  width: 100%;
  height: 100%;
  position: fixed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\0000391}}
#frames .flow .frame .column {
  width: 40.81633%;
  height: 81.1102%;
  top: 8.81633%;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003101}}
#frames .flow .frame .column:nth-child(1) {
  left: 5.5102%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003103}}
#frames .flow .frame .column:nth-child(2) {
  right: 5.5102%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003112}}
#frames .flow .frame.with-panel-pinned-bottom .column {
  height: 34.24653%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003114}}
#frames .flow .frame.with-panel-pinned-bottom.with-panel-sized-one-third .column {
  height: 48.66612%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003116}}
#frames .flow .frame.with-panel-pinned-bottom.with-panel-sized-two-thirds .column {
  height: 19.82694%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003120}}
#frames .flow .frame.with-panel-pinned-top .column {
  top: 55.68%;
  height: 34.24653%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003123}}
#frames .flow .frame.with-panel-pinned-top.with-panel-sized-one-third .column {
  top: 41.26041%;
  height: 48.66612%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003126}}
#frames .flow .frame.with-panel-pinned-top.with-panel-sized-two-thirds .column {
  top: 70.09959%;
  height: 19.82694%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003133}}
#frames .flow .frame.with-panel-pinned-left .column, #frames .flow .frame.with-panel-pinned-right .column {
  width: 40.81633%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003135}}
#frames .flow .frame.with-panel-pinned-left.with-panel-sized-one-third .column, #frames .flow .frame.with-panel-pinned-right.with-panel-sized-one-third .column {
  width: 58.36735%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003137}}
#frames .flow .frame.with-panel-pinned-left.with-panel-sized-two-thirds .column, #frames .flow .frame.with-panel-pinned-right.with-panel-sized-two-thirds .column {
  width: 27.7551%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003141}}
#frames .flow .frame.with-panel-pinned-left .column:nth-child(1) {
  left: 53.67347%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003143}}
#frames .flow .frame.with-panel-pinned-left.with-panel-sized-one-third .column:nth-child(1) {
  left: 36.12245%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003145}}
#frames .flow .frame.with-panel-pinned-left.with-panel-sized-two-thirds .column:nth-child(1) {
  left: 66.73469%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003149}}
#frames .flow .frame.three-columns .column {
  width: 27.7551%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003151}}
#frames .flow .frame.three-columns .column:nth-child(1) {
  left: 5.5102%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003153}}
#frames .flow .frame.three-columns .column:nth-child(2) {
  left: 36.3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003155}}
#frames .flow .frame.three-columns .column:nth-child(3) {
  right: 5.5102%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003177}}
#frames .panels .panel {
  position: fixed;
  width: 980px;
  height: 612.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003182}}
#frames .panels .panel .contents {
  position: absolute;
  top: 54px;
  left: 54px;
  width: 872px;
  height: 496.8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003191}}
#frames .panels .panel .contents .inner {
  width: 100%;
  height: 100%;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003197}}
#frames .panels .panel .contents .inner img {
  max-width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003206}}
#frames .panels .panel.pin {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003209}}
#frames .panels .panel.pin.top .contents {
  height: 248.4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003211}}
#frames .panels .panel.pin.top .contents .inner {
  height: 95.55556%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003213}}
#frames .panels .panel.pin.top.one-third .contents {
  height: 165.6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003215}}
#frames .panels .panel.pin.top.one-third .contents .inner {
  height: 92.85714%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003217}}
#frames .panels .panel.pin.top.two-thirds .contents {
  height: 342.24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003219}}
#frames .panels .panel.pin.top.two-thirds .contents .inner {
  height: 96.66667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003224}}
#frames .panels .panel.pin.bottom .contents {
  top: 302.4px;
  height: 248.4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003227}}
#frames .panels .panel.pin.bottom .contents .inner {
  top: 4.44444%;
  height: 95.55556%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003230}}
#frames .panels .panel.pin.bottom.one-third .contents {
  top: 396.24px;
  height: 154.56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003233}}
#frames .panels .panel.pin.bottom.one-third .contents .inner {
  top: 7.14286%;
  height: 92.85714%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003236}}
#frames .panels .panel.pin.bottom.two-thirds .contents {
  top: 219.6px;
  height: 331.2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003239}}
#frames .panels .panel.pin.bottom.two-thirds .contents .inner {
  top: 3.33333%;
  height: 96.66667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003250}}
#frames .panels .panel.pin.left, #frames .panels .panel.pin.right {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003252}}
#frames .panels .panel.pin.left .contents, #frames .panels .panel.pin.right .contents {
  width: 436px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003254}}
#frames .panels .panel.pin.left .contents .inner, #frames .panels .panel.pin.right .contents .inner {
  width: 91.74312%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003256}}
#frames .panels .panel.pin.left.one-third .contents, #frames .panels .panel.pin.right.one-third .contents {
  width: 286px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003258}}
#frames .panels .panel.pin.left.one-third .contents .inner, #frames .panels .panel.pin.right.one-third .contents .inner {
  width: 95.1049%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003260}}
#frames .panels .panel.pin.left.two-thirds .contents, #frames .panels .panel.pin.right.two-thirds .contents {
  width: 586px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003262}}
#frames .panels .panel.pin.left.two-thirds .contents .inner, #frames .panels .panel.pin.right.two-thirds .contents .inner {
  width: 97.61092%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003265}}
#frames .panels .panel.pin.left {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(95%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(left, #ffffff 0%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, #ffffff 0%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(left, #ffffff 0%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003270}}
#frames .panels .panel.pin.right {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(5%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 5%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 5%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 5%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 5%, #ffffff 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003273}}
#frames .panels .panel.pin.right .contents {
  left: 490px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003275}}
#frames .panels .panel.pin.right .contents .inner {
  left: 8.25688%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003277}}
#frames .panels .panel.pin.right.one-third .contents {
  left: 640px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003279}}
#frames .panels .panel.pin.right.one-third .contents .inner {
  left: 4.8951%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003281}}
#frames .panels .panel.pin.right.two-thirds .contents {
  left: 340px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003283}}
#frames .panels .panel.pin.right.two-thirds .contents .inner {
  left: 2.38908%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003289}}
#frames .backgrounds .background {
  position: fixed;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003304}}
#frames p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003317}}
#frames sup[id^="fnref"] {
  position: absolute;
  left: -25px;
  margin-top: -2px;
  width: 27px;
  display: inline-block;
  height: 37px;
  z-index: 214748364;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003325}}
#frames sup[id^="fnref"] > a {
  display: block;
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003330}}
#powerTip {
  cursor: default;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  position: absolute;
  text-indent: 14px;
  width: 45%;
  z-index: 100001;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003339}}
#powerTip > * {
  max-width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003345}}
#als-debug-grid {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003351}}
#als-debug-grid.hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003354}}
#als-debug-grid .margins {
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003357}}
#als-debug-grid .margins.horizontal {
  width: 100%;
  height: 81.1102%;
  top: 9.01224%;
  left: 0;
  border: 1px solid #00feff;
  border-left-width: 0;
  border-right-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003366}}
#als-debug-grid .margins.vertical {
  width: 88.97959%;
  height: 100%;
  left: 5.5102%;
  top: 0;
  border: 1px solid #ff2598;
  border-top-width: 0;
  border-bottom-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003375}}
#als-debug-grid .margins.vertical.inner {
  width: 7.34694%;
  left: 46.32653%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003379}}
#als-debug-grid .more {
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003383}}
#als-debug-grid .units {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003390}}
#als-debug-grid .units.vertical .unit {
  width: 100%;
  border-top: 1px solid #def0f7;
  height: 1.80245%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003395}}
#als-debug-grid .units.horizontal {
  top: 9.01224%;
  height: 81.1102%;
  margin: 0 5.5102%;
  width: 88.97959%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003401}}
#als-debug-grid .units.horizontal .unit {
  height: 100%;
  width: 2.52294%;
  margin-right: 3.21101%;
  float: left;
  background-color: #d8e7f6;
  opacity: 0.4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003408}}
#als-debug-grid .units.horizontal .unit:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003411}}
#als-debug-grid.thirds .margins.vertical.inner {
  width: 2.85714%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003413}}
#als-debug-grid.thirds .margins.vertical.inner:nth-child(1) {
  left: 33.26531%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003415}}
#als-debug-grid.thirds .margins.vertical.inner:nth-child(2) {
  left: 63.87755%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003418}}
#source {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003421}}
#please-rotate {
  display: none;
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003425}}
  #please-rotate {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/alongslide\.sass}line{font-family:\00003432}}
  #please-rotate h1 {
    font-size: 100px;
    line-height: 1em;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 150px;
    text-align: center;
  }
}
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000032}}
  aside, nav, #breadcrumb {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000033}}
  #source {
    display: block !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000034}}
  #content-display {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000035}}
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000036}}
  a, a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000037}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000038}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000039}}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000310}}
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000311}}
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000312}}
  tr, img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000313}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000315}}
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000316}}
  h2, h3 {
    page-break-after: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000317}}
  body {
    font-size: 30px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000320}}
  p, a {
    font-size: 1em !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000323}}
  h1 {
    font-size: 1.3em !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/lib\/alongslide\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000326}}
  h2, h3, h4 {
    font-size: 1.2em !important;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003129}}
.browse_filters div.type .chosen-results li.update:before {
  content: "\221E";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003132}}
.browse_filters div.type .chosen-results li.project:before {
  content: "\E766";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003135}}
.browse_filters div.type .chosen-results li.annotation:before {
  content: "\E764";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003138}}
.browse_filters div.type .chosen-results li.podcast:before {
  content: "\1F4F6";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003141}}
.browse_filters div.type .chosen-results li.program:before {
  content: "\E728";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003144}}
.browse_filters div.type .chosen-results li.cluster:before {
  content: "\1F4A8";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003147}}
.browse_filters div.type .chosen-results li.issue:before {
  content: "\F601";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003150}}
.browse_filters div.type .chosen-results li.person:before {
  content: "\1F464";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003153}}
.browse_filters div.type .chosen-results li.book:before {
  content: "\1F4D5";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003156}}
.browse_filters div.type .chosen-results li.print_publication:before {
  content: "\E727";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003159}}
.browse_filters div.type .chosen-results li.download {
  font-size: 12px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003161}}
.browse_filters div.type .chosen-results li.download:before {
  content: "\1F4E5";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003165}}
.browse_filters div.type .chosen-results li.edition:before {
  content: "\1F4D1";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003168}}
.browse_filters div.type .chosen-results li.whitecube:before {
  content: "\E737";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003171}}
.browse_filters div.type .chosen-results li.tote:before {
  content: "\1F4BC";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003174}}
.browse_filters div.type .chosen-results li.store_item:before {
  content: "\E73D";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\00003177}}
.browse_filters div.type .chosen-results li.media:before {
  content: "\1F4BF";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000311}}
.alongslide .als-gallery {
  height: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000314}}
.alongslide .als-gallery a.control {
  cursor: pointer;
  position: absolute;
  font-size: 0.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000318}}
.alongslide .als-gallery a.control.prev {
  top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\0000352}}
.alongslide .als-gallery a.control.prev:before {
  content: "\E767";
  font-family: "EntypoRegular";
  font-size: 3.3em;
  line-height: 0.5em;
  vertical-align: -4px;
  margin-right: 5px;
  text-transform: none;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000322}}
.alongslide .als-gallery a.control.next {
  bottom: -40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\0000352}}
.alongslide .als-gallery a.control.next:before {
  content: "\E764";
  font-family: "EntypoRegular";
  font-size: 3.3em;
  line-height: 0.5em;
  vertical-align: -4px;
  margin-right: 5px;
  text-transform: none;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000327}}
.alongslide .als-gallery .items {
  height: 100%;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000330}}
.alongslide .als-gallery .items > ul {
  height: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000333}}
.alongslide .als-gallery .items > ul > li {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000345}}
article.medium-format .alongslide .als-gallery {
  margin: 40px 0 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000347}}
article.medium-format .alongslide .als-gallery a.control {
  top: auto;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000350}}
article.medium-format .alongslide .als-gallery a.control.prev {
  left: -65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\0000352}}
article.medium-format .alongslide .als-gallery a.control.prev:before {
  content: "\E765";
  font-family: "EntypoRegular";
  font-size: 3.3em;
  line-height: 0.5em;
  vertical-align: -4px;
  margin-right: 5px;
  text-transform: none;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000354}}
article.medium-format .alongslide .als-gallery a.control.next {
  right: -80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/shared\/modules\/_icons\.scss}line{font-family:\0000352}}
article.medium-format .alongslide .als-gallery a.control.next:before {
  content: "\E766";
  font-family: "EntypoRegular";
  font-size: 3.3em;
  line-height: 0.5em;
  vertical-align: -4px;
  margin-right: 5px;
  text-transform: none;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000359}}
article.medium-format .alongslide .als-gallery .items {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000362}}
article.medium-format .alongslide .als-gallery .items > ul {
  width: 9999999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adam\/projects\/triplecanopy\/code\/tc-3\.0\/app\/assets\/stylesheets\/alongslide\/gallery\.scss}line{font-family:\0000364}}
article.medium-format .alongslide .als-gallery .items > ul > li {
  float: left;
}
